@import "./font.module.css";

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font: "Proxima Nova", -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  --background-color-body: #eeeeee;
  --background-color-navbar: #ffe600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color-body);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
