.contentResult {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: var(--max-width-container);
}

.contentResultList {
  width: 100%;
}

.listResult {
  margin: 32px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.imgItem {
  display: flex;
  align-items: center;
}
.itemResult {
  display: flex;
  background-color: var(--color-withe);
  padding: 20px;
  position: relative;
}
.itemResult:first-child {
  border-radius: 4px 4px 0 0;
}
.itemResult:last-child {
  border-radius: 0 0 4px 4px;
}
.itemResult:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: calc(100% - 40px);
  background-color: var(--background-color-body);
}
.imageItem {
  border-radius: 4px;
  object-fit: cover;
  max-width: 200px;
  height: 200px;
}
.textsResult {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
.textPrice {
  color: var(--color-text);
  display: flex;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  margin-right: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.textTitle {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
}
.textCoute {
  color: #00a650;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 400;
}
.textCity {
  color: var(--color-text-2);
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}
.showIconFreeShepping {
  background-color: var(--color-green);
}
.city {
  width: 200px;
  margin-left: auto;
  display: flex;
  justify-content: start;
}
.showIconFreeShepping {
  background-color: var(--color-green);
  border-radius: 20px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .itemResult {
    flex-direction: column;
  }
  .city {
    width: 100%;
    margin: 0 20px;
  }
  .contentResult {
    width: 100%;
    padding: 0 20px;
  }
}
