.contentSearch {
  display: flex;
  align-items: center;
  position: relative;
}

.contentSearch .input {
  width: 100%;
}

.input {
  min-height: 40px;
  padding: 5px 15px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 4px 0 0 4px;
  border: none;
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #ccc;
}

.btnSearch {
  background-color: #eeeeee;
  border-radius: 0px 4px 4px 0;
  border: none;
  min-height: 40px;
  width: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnSearch:hover {
  background-color: #d4d4d4;
}

.searchIcon {
  color: #070707;
}

.searchingResult {
  display: none;
  background-color: #fff;
  min-height: 100px;
  top: 40px;
  width: 100%;
  position: absolute;
  border-top: solid 1px #e6e6e6;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  padding: 8px 0;
  z-index: 1005;
  margin-top: 0;
  min-width: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-radius: 4px;
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
}

.searchingResultActive {
  display: block;
}

.searchingResult li {
  padding: 10px 20px;
  font-family: var(--font);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchingResult li:hover {
  background-color: #3483fa;
  color: #fff;
}
